.table{
    width:100% !important;
    margin:0px;
}
#btn-poliklinik-ekle{
    position:relative;
    left:40px;
}
.btn-poliklinik-ekle-div{
    margin-left:-40px;
    margin-bottom:-130px;
    margin-top:130px;
    
}
.policlinics-data-div{
    margin:0px;
    margin-left:50px !important;
    padding:0px;
    width:100%;
}
@media screen and (max-width:1240px){
    .table{
        width:70% !important;
        margin-right:-150px;
    }
    .btn-poliklinik-ekle-div{
        margin-left:205px;
    }
}
@media screen and (max-width:1219px){

    .btn-poliklinik-ekle-div{
        margin-left:125px;
    }
}
@media screen and (max-width:1200px){
    .btn-poliklinik-ekle-div{
        margin-left:95px;
    }
    #btn-poliklinik-ekle{
        font-size:15px;
    }
}
@media screen and (max-width:992px){

    .btn-poliklinik-ekle-div{
        margin-left:60px;
    }
}
@media screen and (max-width:768px){

    .btn-poliklinik-ekle-div{
        margin-left:35px;
    }
    #btn-poliklinik-ekle{
        font-size:14px;
    }
}
@media screen and (max-width:500px){

    .btn-poliklinik-ekle-div{
        margin-left:25px;
    }
    #btn-poliklinik-ekle{
        font-size:13px;
    }
}

