.admin-add{
    margin-top:20px;
}
#admin-kayit-tamamla{
    margin-top:60px;
    margin-bottom:40px;
}
.input-group > span > i{
    font-size:20px;
    margin-top:7px;
    margin-right:5px;
    color:#575757;
}
.admin-add-container-div{
    margin-top:30px;
    margin-right:auto;
    margin-left:auto;
    width:50%;
}
.admin-add > label{
    margin-bottom:0px;
    margin-top:30px;
}
.input-group{
    margin-top:20px;
}