.error-alert {
    background-color: #be403a;
    color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.error-alert > p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    color:#fff;
}

.error-alert > .fas{
    color:#fff;
    position:relative;
    top:3px;
    left:10px;
    float:left;
}
.admin-pass-update{
    margin-top:150px;
    margin-right:auto;
    margin-left:auto;
    width:50%;
}
.input-group{
    margin-top:20px;
}