.doctorupdate-container-sub-div{
    width:60%;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}
.error-validation-message {
    color: #d10505;
    padding: 0px;
    margin-top: -28px;
    margin-bottom: -5px;
}
.input-group{
    margin-top:10px;
}