* {
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color: #35a7fe;
    margin:0;
    padding:0;
}
.text{
    margin:35px;
    font-size:35px;
    letter-spacing:1px;
    font-weight:600;
    color:#7c7c7c;
    text-align:center;
}
 .pass-reset-form i{
     color:#808080;
     font-size:20px;
     position:relative;
     top:7px;
     left:20px;
 }
.error-validation-message {
    color: #d10505;
    padding: 0px;
    margin-top: -35px;
    margin-bottom: 15px;
    margin-left:18px;
}
.container{
    width: 50%;
    height: auto;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #fff;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.pass-reset-content{
    width:70%;
}
.input-group > .form-control{
    letter-spacing: 1px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow:none;
    background: transparent;
    border-bottom: 1px solid #808080;
    border-radius: 0px;
    width: 85%;
    font-weight: 600;
    padding-left: 35px;
    margin-left: 10px;
    margin-bottom:40px;
    position:relative;
    left:-15px;
}
#btn-pass-search{
    margin-top:10px;
    margin-bottom:30px;
}
.error-alert {
    background-color: #be403a;
    color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.error-alert > p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.error-alert > i{
    color:#fff;
    text-align:center;
    display:block;
    clear:both;
    padding-top:10px;
}

/*Responsive*/

@media screen and (max-width:1050px){

    .pass-reset-content .text{
        font-size:20px;
    }
   .pass-reset-form i{
     font-size:15px;
     top:12px;
     left:15px;
    }
   .pass-reset-form .form-control{
       font-size:14px;
       padding-left:30px;
       padding-bottom:0px;
   }
   .error-validation-message{
       font-size:14px;
       margin-left:12px;
   }
      #btn-pass-search{
       font-size:14px;
   }
      .error-alert > p {
          font-size:15px;
    }

}
@media screen and (max-width:730px){
    .pass-reset-content .text{
        font-size:15px;
    }
   .pass-reset-form i{
     font-size:14px;
     margin-right:-5px;

    }
   .pass-reset-form .form-control{
       font-size:12px;
       padding-left:32px;
       padding-bottom:0px;
   }
   .error-validation-message{
       font-size:13px;
       margin-left:5px;
   }
   #btn-pass-search{
       font-size:12px;
   }
   .pass-reset-form{
       margin-top:-10px;
   }
   .error-alert > p {
       font-size:13px;
    }
}