@model RandevuSistemi.Models.Tables.Vatandas
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../../Files/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <title>Randevu Sistemi</title>
    <link rel="stylesheet" href="/Content/PasswordReset.css" />
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div class="pass-reset-content">
            <div>
                <h4 class="text">Parola Sıfırlama</h4>
            </div>
            @if (ViewBag.UserNotFound != null)
            {
                <div class="error-alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>@ViewBag.UserNotFound</p>
                </div>
            }
            <div class="pass-reset-form">
                @using (Html.BeginForm("PasswordReset", "User", FormMethod.Post, new { @autocomplete = "off" }))
                {
                    <div class="input-group">
                        <i class="fas fa-id-card-alt"></i>
                        @Html.TextBoxFor(m => m.TC, new { @class = "form-control", @placeholder = "TC Kimlik", @maxlength = "15", @required = "required" })
                    </div>
                    <p class="error-validation-message">@Html.ValidationMessageFor(m => m.TC)</p>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-info" id="btn-pass-search">Sorgula</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
