
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="admin-info-info-title">
        <h1>HASTANE RANDEVU SİSTEMİ</h1>
    </div>
    <div class="admin-info-content">
        <h3>Hastane Randevu Sistemi vatandaşların kolayca randevu alabileceği ve diledikleri zaman sisteme girip randevu'yu iptal etme gibi özellikler sağlayan bir otomasyondur.</h3>
    </div>
    <div class="admin-info-contact">
        <h2>Hazırlayan</h2>
        <h3 class="mt-4">Ad : <strong>EMRULLAH</strong></h3>
        <h3>Soyad : <strong>ACAR</strong></h3>
        <h3>Mail : <strong>emrullah.acar444@gmail.com</strong></h3>
    </div>
</div>

